<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
<h1>My Job Garden</h1>
 
<table>
  <div class="garden_area">
    <% @plot.each do |plot| %>
      <div class="individual_plot">  
            <% if plot.applied==="yes" %>
              <div class="plants">
                <img src="/sprout.gif" alt="You've applied!">
              </div>
              <% if plot.interviews>0 %>
                <div class="plants">
                  <img src="/leaves.gif" alt="You're interviewing!">
                </div>
              <% end %>
              <% if plot.in_consideration==="no"%>
                <div class="plants">
                  <img src="/flower.gif" alt="They've moved on.">
                </div>
              <% end %>
            <% else %>
              <div class="plants">
              <img src="/seeds.gif" alt="You have not applied yet">
              </div>
            <% end %>
          <div class="company_name"><%= plot.company %></div>
          <div class="job_title"><%= plot.title %></div>
          <div class="overlay">
            <% if plot.applied==="yes"%>
              <% if plot.date_applied.blank?%>
                <div class="details"><strong>You have applied.</strong></div>
                <% else %>
                  <%-# Let's look at this at some point to get the date to display as MM-DD-YYYY instead of YYYY-DD-MM -%>
                  <div class="details"><strong>Date Applied: </strong><%= plot.date_applied %></div>
              <% end %>
              <% else %>
                <div class="details"><strong>You have not applied yet.</strong></div>
              <% end %>            
            <% unless plot.contact.blank?%>
              <div class="details"><strong>Point of contact: </strong><%= plot.contact %></div>
            <% end %>
            <% unless plot.heard_about_through.blank?%>
              <div class="details"><strong>Heard About Through: </strong><%= plot.heard_about_through %></div>
            <% end %>
            <% unless plot.link.blank?%>
              <div class="details"><strong><%= link_to 'Job Description', plot.link %></strong></div>
            <% end %>
            <% unless plot.notes.blank?%>
              <div class="details"><strong>Notes: </strong><%= plot.notes %></div>
            <% end %>
              <div class="options">
                    <%= link_to 'Details', plot_path(plot), class:"button" %>
                    <%= link_to 'Edit', edit_plot_path(plot), class:"button" %>
                    <%= link_to 'Delete', plot_path(plot),
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, class:"button" %>
            </div>
          </div>
      </div>
    <% end %>
    <div class="new_plot">
      <%= link_to 'Till a new plot', new_plot_path, class:"button" %>
    </div>
  </div>
</table>